/* CSS reset */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	background-color: #d7d7d7;
	vertical-align: baseline;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top:1px solid #ccc;
}

button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
	background: #fff\9;
}

select, textarea,
input[type='text'], input[type='password'], input[type='number'],
input[type='datetime'], input[type='datetime-local'], input[type='date'],
input[type='month'], input[type='time'], input[type='week'], input[type='email'],
input[type='url'], input[type='search'], input[type='tel'], input[type='color'],
.uneditable-input, .text-input, .text {
	display: inline-block;
	height: 20px;
	border: 1px solid #ccc;
	padding: 3px 6px;
	font-size: 12px;
	line-height: 20px;
	color: #333;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	   -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		 -o-transition: border linear 0.2s, box-shadow linear 0.2s;
			transition: border linear 0.2s, box-shadow linear 0.2s;
}

select:focus, textarea:focus,  input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus,
input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
.uneditable-input:focus,  .text-input:focus, .text:focus{
	border: 1px solid #ed7020;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 51, .6);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 51, .6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 51, .6);
}
select {
	height: 28px;
	line-height: 28px \9;
}
.input-minic, input.input-minic {
	width: 60px;
}

/*============== table ==============*/
.table {
	width: 100%;
}

.btn {
	display: inline-block;
	width: auto;
	padding: 3px 14px;
	border: 1px solid #ccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	border-radius: 1px/2px;
	background-color: #fafafa;
	line-height: 20px;
	color: #333333;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	overflow: visible;
	cursor: pointer;
	outline: none;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
	background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
	background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
	background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
	
	/* For ie7, ie8 */
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff7f7f7', GradientType=0);
	
	/* For ie7 */
	*display: inline;
	*margin-left: .3em;
	*zoom: 1;
}


.btn:hover,
.btn:focus {
	border: 1px solid #ccc;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	 -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*============== layout ==============*/
.container{
	margin-right: auto;
	margin-left: auto;
	
	/* For ie7 */
	*zoom: 1;
}
.container:before, .container:after {
	display: table;
	line-height: 0;
	content: '';
}
.container:after {
	clear:both;
}


.clearfix:before, 
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}


.wrap{
	height: 100%;
	background:#d7d7d7;
	
	/* For IE 6 */
	_position: relative;
	_text-align: center;
}

.wrap .container {
	position: relative;
	width: 80%;
	min-width: 870px;
	background-color: #fff;
	min-height: 100%;

}
.main-content{
	padding: 0 10px;
	padding-bottom: 35px;
	background-color: #fff;
}
.main-top{
	height: 30px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	vertical-align: center;
	z-index:100;
}
.main-bottom {
	position:fixed;
	bottom: 0;
	height: 35px;
	padding-top: 3px;
	border-top: 1px solid #eee;
	background-color: #fff;
	z-index:100;
}

.input-append, .input-prepend {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
}
.input-append input, .input-prepend input {
	position: relative;
}
.input-append .add-on, .input-append .btn, .input-append .btn-group {
	margin-left: -1px;
}
.input-append input, .input-append select, .input-append .uneditable-input {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.input-append input:focus, .input-prepend input:focus, .input-append select:focus, .input-prepend select:focus, .input-append .uneditable-input:focus, .input-prepend .uneditable-input:focus {
	z-index: 2;
}
.no-text-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.__pageGo {
	float: right;
	margin-left: 5px;
	margin-top: 2px;
}
.__pageGo label {
	display: inline-block;
	float: left;
	padding: 6px 2px 0 0;
	font-size: 13px;
}
.__pageNum, .btn.__next, .btn.__prev {
	display: inline-block;
	line-height: 25px;
	width: 32px;
	margin-left: 3px;
	padding: 1px 2px;
	color: #555;
	cursor: pointer;
	-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
			border-radius: 6px;
	text-align: center;
}
.__pageNum.active {
	color: #ed7020;
}
.btn.__next, .btn.__prev {
	padding: 2px 4px;
}
 {
	padding: 2px 4px;
}
.info-hidden-flag {
	margin-left: 2px;
}

.set-page-count {
	float: right;
}
#page-count {
	width: 60px;
	margin: 0 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

::selection {
	background: #44c3fb;
	color: #e6f1f7;
};